<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
</head>

<body>
    <ul id="messages"></ul>
    <input id="m" autocomplete="off" />
    <button onclick="send()">Send</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script>
var socket = io();
var input = document.getElementById("m");
var messages = document.getElementById("messages");
socket.on('chat message', function (msg) {
    var li = document.createElement("li");
    li.innerText = msg
    messages.appendChild(li);
    window.scrollTo(0, document.body.scrollHeight);
});
function send() {
    var content = input.value;
    socket.emit("chat message", content);
    input.value = "";
}
    </script>
</body>

</html>